{% extends "main.html" %}

{% block content %}

	<div class="row main-content">

		{% include "sidebar.html" %}

		{% block body %}

			<h3>{{ item.name }}</h3>

			<p>{{ item.description }}</p>
			<br>
			<br>
			<h6>
				<a href="{{url_for('editItem', category_name = item.category.name, item_name = item.name) }}">Edit</a>	
			</h6>			
			<div class="vertical-line" style="height: 25px;"></div>
			<h6>
				<a href="{{url_for('deleteItem', category_name = item.category.name, item_name = item.name) }}">Delete</a>	
			</h6>
			

		{% endblock %}

	</div>

{% endblock %}








